<div class="home">
  <div class="homemap">
    <div class="lorem">
      <div class="lorem1">
        <p>Tu guía sencilla para una agricultura más inteligente y eficiente</p>
      </div>
      <div>
        <a routerLink="." fragment="create">
          <img src="../../../assets/NAwerFav.png" alt="Logo" class="logo">
        </a>
      </div>
    </div>
    <div class="map">
      <app-map></app-map>
    </div>
  </div>
  <section id="create">
    <div class="create">
      <app-create-farm></app-create-farm>
    </div>
  </section>
</div>