<h1>Rotación</h1>
<h3>Desde el último año</h3>
<div class="crops">
<label>1</label>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<br>
<label>2</label>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<br>
<label>3</label>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<br>
<label>4</label>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<br>
<label>5</label>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<select>
  <option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
</select>
<br>
</div>
