<div class="cards">
  <div class="for" *ngFor="let e of farmsList">
    <h5>Establecimiento: {{ e.name }}</h5>
    <h5>Superficie: {{ e.area }}</h5>
    <h5>Ubicación: {{ e.ubication }}</h5>
    <h5>Clase: {{ e.class_ }}</h5>
    <h5>Pendiente: {{ e.slope }}</h5>
    <h5>Precipitaciones: {{ e.rainfall }}</h5>
    <h5>Precipitaciones esperadas: {{ e.rainfallb }}</h5>
    <h5>Enmalezamiento: {{ e.weeding }}</h5>
    <h5>Compactación: {{ e.compactation }}</h5>
    <h5>Erosión: {{ e.erosion }}</h5>
  </div>
</div>
<a routerLink="/home">
  <button>Volver</button>
</a>