/* .rec {
  background-image: url(/assets/campo.webp);
} */

.an {
  background-color: transparent;
  font-size: 800%;
  padding-inline: 20%;
}

.ven {
  background-color: transparent;
  font-size: 800%;
  padding-inline: 30%;
}