<h1>Ubicación y superficie</h1>
<!-- <button (click)="centerVic()">Vic</button> -->
<google-map [center]="position" [zoom]="zoom" [options]="options">
  <!-- <map-polygon
    [paths]="polygonPoints"
    [options]="{ strokeColor: '#FF0000', strokeOpacity: 1.0, strokeWeight: 2 }"
  >
  </map-polygon> -->
  <!-- <map-circle
    [radius]="3000"
    [center]="vic"
    [options]="{ strokeColor: '#FF0000', strokeOpacity: 1.0, strokeWeight: 2 }"
  >
  </map-circle> -->
</google-map>

<input placeholder="Superficie (ha)"/>
<br/>
<input placeholder="Ubicación"/>