<h1>{{title}}</h1>
<p>Clase (I-VIII)</p>
<select>
  <option>I (Agrícola)</option>
  <option>II (Agrícola)</option>
  <option>III (Agrícola)</option>
  <option>IV (Agrícola-Ganadero)</option>
  <option>V (Ganadero)</option>
  <option>VI (Ganadero)</option>
  <option>VII (Ganadero Pasto natural)</option>
  <option>VIII (Ganadero Pasto natural)</option>
</select>
<br>
<br>
<p>Pendiente (%)</p>
<select>
  <option>0-2</option>
  <option>2-4</option>
  <option>4-7</option>
  <option>+7</option>
</select>
<br>
<br>
<p>Precipitaciones (última campaña)</p>
<h2><input placeholder="milímetros"/></h2>
<p>Precipitaciones esperadas</p>
<h2><input placeholder="milímetros"/></h2>